<div class="wrapper">
  <h1>BLUST</h1>
  <h2>by stmn</h2>
  <audio src="" id="hidden-player"></audio>
  <div id="player">
    <%= image_tag "http://i.ytimg.com/vi/Soa3gO7tL-c/hqdefault.jpg", size:"180x180" %>
    <div class="player-song">
      <div class="title"></div>
      <div class="artist"></div>
      <progress value="0" max="1"></progress>
      <div class="timestamps">
        <div class="time-now">0:00:00</div>
        <div class="time-finish">0:00:00</div>
      </div>
      <div class="actions">
        <div class="prev">
          <i class="material-icons">fast_rewind</i>
        </div>
        <div class="play">
          <a class="play-button paused" href="#">
            <div class="left"></div>
            <div class="right"></div>
            <div class="triangle-1"></div>
            <div class="triangle-2"></div>
          </a>
        </div>
        <div class="next">
          <i class="material-icons">fast_forward</i>
        </div>
      </div>
    </div>
  </div>

  <div id="search">
    <div>
      <%= form_tag root_path, method: 'get', class: "form-inline" do %>
        <div class="form-inline">
          <div class="form-group">
            <%= text_field_tag :q, params[:q], class: "form-control", placeholder: "キーワード", size: 35 %>
          </div>

          <button type="submit" class="button">検索</button>
        </div>
      <% end %>

      <div class="results">
        <ul class="list-group">
          <li class="result_item">
            <%= image_tag "http://i.ytimg.com/vi/NUTGr5t3MoY/hqdefault.jpg", class: "video-thumbnail", size:"120x90" %>
            <div class="video-description">
              <%= 'Basket Case[Official MV]' %>
            </div>
          </li>

          <li class="result_item">
            <%= image_tag "http://i.ytimg.com/vi/Soa3gO7tL-c/hqdefault.jpg", class: "video-thumbnail", size:"120x90" %>
            <div class="video-description">
              <%= 'Boulevard Of  Broken Dreams[Official MV]' %>
            </div>
          </li>

          <li class="result_item">
            <%= image_tag "http://i.ytimg.com/vi/Ee_uujKuJMI/hqdefault.jpg", class: "video-thumbnail", size:"120x90" %>
            <div class="video-description">
              <%= 'American Idiot[Official MV]' %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>