<div class="wrapper">
  <h1>BLUST</h1>
  <h2>by stmn</h2>
  <audio src="" id="hidden-player"></audio>
  <div id="video">
    <iframe class="youtube_video" id="popup-YouTube-player" width="854" height="480" src="https://www.YouTube.com/embed/<%= "#{@video_id}" %>?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
  </div>

  <div id="search">
    <div>
      <%= form_tag root_path, method: 'get', class: "form-inline" do %>
        <div class="form-inline">
          <div class="form-group">
            <%= text_field_tag :q, params[:q], class: "form-control", placeholder: "キーワード", size: 35 %>
          </div>

          <button type="submit" class="button">検索</button>
        </div>
      <% end %>

      <div class="results">
        <ul class="list-group">
          <% @results.each do |result| %>
            <%= link_to root_path(video_id: result[:video_id]) do %>
              <li class="result_item">
                <%= image_tag "http://i.ytimg.com/vi/#{result[:video_id]}/hqdefault.jpg", class: "video-thumbnail", size: "120x90" %>
                <div class="video-description">
                  <div class="title">
                    <%= "#{result[:title]}" %>
                  </div>
                  <div class="subtitle">
                    <%= "#{result[:published_at]}" %>
                  </div>
                  <div class="subtitle">
                    <%= "#{result[:channel_title]}" %>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>